.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .navbar ul {
    list-style-type: none !important;
  
  }
  
  .navbar li {
    float: left !important;
  }
  
  .navbar li a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
  }
  
  .navbar li a:hover {
    background-color: #111 !important;
  }

  .image-link{
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    border-style: solid;
    margin: 2px;
  }
  .image-link img:hover {
    filter: alpha(opacity=80);
    opacity: .8;
}