.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .navbar ul {
    list-style-type: none !important;
  }
  
  .navbar li {
    float: left !important;
  }
  
  .navbar li a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
  }
  
  .navbar li a:hover {
    background-color: #111 !important;
  }

  @media screen and (min-width: 64em) {
    .navbar {
      padding: 0rem 10.5rem;
      margin: 0 auto;
    }}
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .navbar {
      padding: 0rem 4rem;
    }}
  
  @media screen and (max-width: 42em) {
    .navbar {
      padding: 0rem 1rem;
    }}

  .image-link{
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    border-style: solid;
    margin: 2px;
  }
  .image-link img:hover {
    filter: alpha(opacity=80);
    opacity: .8;
}

a .btn {
  color:#606c71 ;
  text-decoration: none;
}

.small-link a{
  color:#606c71 ;
  text-decoration: none;
}

.small-link a:hover{
  color:#1e6bb8;
}